
.inlineClas{
    display: inline;
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: white; /* Серый цвет фона */
    color: black; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }
.topmenu > li {
    position: relative;
    text-align:center;
    border-left: 1px solid black;
      margin:inherit;
      margin-right: 5px;
      padding: 1px;
      background-color:white;
      border-radius:28px;
      border:1px solid black;
      display:inline-block;
      cursor:pointer;
      padding:10px 20px;
      text-decoration:none;
      color:black;
  }

.center
{
    text-align: center;
}

.clockdiv
{
    height: auto;
    width: auto;
}

.topmenu > li:hover {
  
    position: relative;
    border-left: 1px solid black;
      margin:inherit;
      margin-right: 5px; 
      padding: 1px;
      background-color:gray;
      border-radius:14px;
      border:1px solid #1a263b;
      display:inline-block;
      cursor:pointer;
      padding:10px 20px;
      text-decoration:none;
      color:black;
  }
.topmenu > li:first-child {border-left: 0;}
.topmenu > li > a {  
      color:black;
      text-decoration: none; 
  }
.topmenu > li > a.active
{
    margin-left: 5px;
    color: inherit;
  }
.topmenu ul{
    text-align:center;
    margin:auto;
}
.top ul:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .topmenu ul{
          text-align:center;
          margin:auto;
  }
  .top a {
    text-decoration: none;
    display: block;
  }
  .look-calendar {
    width:220px;
    border:1px solid #c0c0c0;
    padding:6px;
    margin: 0 auto;    
  }
  #calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing:0px;
  }
  #calendar tr.dn td {
    font-size: 15px;
  }
  #calendar thead tr:last-child {
    font-size: small;
    color: #555555;
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #323232;
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td {
    color: #2c567a;
  }
  #calendar tbody td:nth-child(n+6),
  #calendar .holiday {
    color: #e78c5c;
  }
  #calendar tbody td.today {
    background: #dc0000;
    color: #fff;
  }
  .dropbtn {
    background-color: white;
    color: black;
    /*padding: 16px;
    font-size: 16px;*/
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 10px;
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  border-radius: 10px;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border-radius: 10px;
  background-color: grey;
}
.newsbox {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid rgb(17, 16, 16);
  background-color: white;
  border-radius: 4px;
}
.column_left{
  float: left;
  width: 13%;
  height: 100%;
  position: fixed;
}
.column_right{
  float: right;
  width: 87%;
  height: 100%;
  background-color: #ba25c4;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.black_color{
  color: black;
  font-size: 10pt;
  float: left;
  margin-right: 5px;
}

.column_left_sub{
  float: left;
  width: 13%;
  height: 100%;
}
.column_center_sub{
  float: left;
  width: 77%;
  height: 100%;
}
.column_left_sub{
  float: left;
  width: 13%;
  height: 100%;

}
.column_center_right{
  float: left;
  width: 10%;
  height: 100%;
}